.notes {
    /*display: none;*/
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1366px) {
    .notes {
        margin-top: 104px;
        flex-wrap: wrap;
    }
}

@media (max-width: 320px) {
    .notes {
        margin-top: 68px;
    }
}