@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500;700&display=swap');

.header {
    display: flex;
    margin-top: 36px;
    margin-bottom: 44px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.logo-box {
    display: flex;
    align-items: center;
    margin-right: 8vw;
    height: 60px;
}

.logo-img {
    margin-right: 18px;
}

.header-buttons {
    display: flex;
    max-height: 40px;
    width: 346px;
    align-items: center;
    justify-content: space-between;
}

.feed-button {
    display: flex;
    padding: 8px 34px;
    align-items: center;
    width: 166px;
    height: 40px;
    background: #FFCE89;
    border: none;
    border-radius: 12px;
    color: black;
    font-size: 16px;
    font-family: IBM Plex Sans, sans-serif;
    cursor: pointer;
}

.feed-btn_img {
    margin-right: 15px;
}

.add-button {
    display: flex;
    align-items: center;
    padding: 8px 34px;
    width: 166px;
    height: 40px;
    color: #FFF;
    background: linear-gradient(135deg, #61B15A 0%, #ADCE74 100%);
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 500;
    line-height: 150%;
    cursor: pointer;
}

.add-btn_img {
    margin-right: 15px;
}

@media (max-width: 414px) {
    .header-buttons {
        display: none;
    }
}

@media (max-width: 320px) {
    .header {
        margin-top: 22px;
        margin-bottom: 10px;
        height: 40px;
    }
    .logo-img {
        width: 40px;
        height: 40px;
    }
    .logo-box {
        height: 40px;
    }
    .logo-name {
        font-size: 24px;
        line-height: 28px;
    }
}